{{#projects}}
    <div>
        <a href="/{{directory}}"><h3>{{name}}</h3></a>
        <a href="/{{directory}}"><img
                src="/{{directory}}/screenshot.jpg"
            /></a></div>
{{/projects}}