<div id="body">
    <div class="hello-headers">
        <h1>hello there {{user_name}}, thank you for signing my petition!</h1>
        <p>this is you current signature:</p>
        <img src="{{user_signature}}" alt="signature image" />

        <div class="error">
            {{error_status}}
        </div>
    </div>
    <div class="form-div">
        <form method="post">
            Sign here:
            <input
                type="text"
                name="user_signature"
                hidden
                id="user_signature"
            />
            <canvas id="canv" width="400px" height="100px"></canvas>
            <button type="submit" id="submit_btn">submit</button>
        </form>
        <a href="{{edit_signature}}">
            <button>
                Change Signature
            </button>
        </a>
    </div>
</div>