<div id="body">
    <div class="hello-headers">
        <h1>hello there, welcome to my petition!</h1>
        <img
            class="cover"
            src="/public/F3E3EA864B4B80AE95FB53408BC30D1F.jpeg"
            alt=""
        />
        <h2>sign to fight against this urgent matter:</h2>
        <div class="{{error_status}}">
            <p>Sorry, we coudnt process your signature.</p>
            <br />
            <p>Please fill in all of the input fields bellow as well as the
                signature!</p></div>

    </div>
    <div class="form-div">

        <form method="post">
            Sign here:
            <input
                type="text"
                name="user_signature"
                hidden
                id="user_signature"
            />
            <canvas id="canv" width="400px" height="100px"></canvas>
            <button type="submit" id="submit_btn">submit</button>

        </form>
    </div>
</div>