<div class="content-div">
    <div class="hello-headers">
        <h1>Thank you for registering!</h1>
        <img
            class="cover"
            src="/public/F3E3EA864B4B80AE95FB53408BC30D1F.jpeg"
            alt=""
        />
        <h2>Please tell us a little bit more about yourself:</h2>
    </div>
    <div class="div_form">
        <div class="error">
            {{error_status}}
        </div>
        <form method="post">
            <label for="user_age">
                Your Age:
                <input type="text" name="user_age" id="user_age" />
            </label>
            <label for="user_city">Your city:
                <input type="text" name="user_city" id="user_city" />
            </label>
            <label for="user_homepage">Your homepage:
                <input type="url" name="user_homepage" id="user_homepage" />
            </label>
            <button type="submit" id="login_btn">Log in</button>
        </form>
    </div>

</div>