<div class="content-div">
    <div class="hello-headers">
        <h1>hello there, welcome to my petition!</h1>
        <img
            class="cover"
            src="/public/F3E3EA864B4B80AE95FB53408BC30D1F.jpeg"
            alt=""
        />
    </div>
    <h2>Please register bellow to sign the petition and help the fighting this urgent matter!</h2> 
    <div class="{{error_status}}">
            <p>Sorry, we coudnt process your signature.</p>
            <br />
            <p>Please fill in all of the input fields bellow as well as the signature!</p></div>
    </div>
    <div class"div_form">
        <form method="post"><H1>Registration:</H1>
            <label for="first_name">
                First name:
                <input type="text" name="first_name" id="first_name" />
            </label>
            <label for="last_name">
                Last name:
                <input type="text" name="last_name" id="last_name" />
            </label>
            <label for="user_email">
                Email:
                <input type="text" name="user_email" id="user_email" />
            </label>
            <label for="user_password">Password:
                <input type="password" name="user_password" id="user_password" />
            </label>
            <button type="submit" id="login_btn">Sign up</button>
   
             <p>if you are already a member, please <a href="/login">log in</a>.</p>
        </form>
    </div>

</div>