<div id="body">
    <div class="hello-headers">
        <h1>this are all the signers so far:</h1>
        {{#rows}}
            <div class="signer">
                <h3>{{first_name}} {{last_name}}</h3>
            </div>
        {{/rows}}
    </div>
    <div class="form-div">

    </div>
</div>