<div class="content-div">
    <div>
        <img
            class="cover"
            src="/public/F3E3EA864B4B80AE95FB53408BC30D1F.jpeg"
            alt=""
        />
        <h3>thank you for your signature!</h3>
    </div>
    <img src="{{user_signature}}" alt="signature image" />
    <a href="{{signatures_page}}"> see all {{number_of_signers}} signers</a>

</div>