* {
    box-sizing: border-box;
    margin: 0;
}
canvas {
    border: 1px dotted pink;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
}

img.cover {
    height: 300px;
    object-fit: cover;
    padding: 50px;
}
img.cover:hover {
    transform: scale(1.1);
}

.valid {
    display: none;
}

.invalid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: red;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 250px;
    justify-content: center;
    align-items: center;
}

.div_form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 250px;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.signature {
    width: 300px;
    object-fit: cover;
    border-bottom: 2px dotted black;
    margin-bottom: 50px;
}

.delete-btn {
    background-color: red;
    color: aliceblue;
    margin: 5px;
}
